<h1>Groups</h1>
<div *ngFor="let group of groups">
  <div style="color: {{ group.color }}">
    <h3>Group {{ group.groupNumber }} {{ group.field }}</h3>
    <p>Number of students: {{ group.numberOfStudents }}</p>
    <p>Startdate: {{ group.startDate }}</p>
    <p>
      Phase 1: {{ group.daysPhase1 }} days for {{ group.weeksPhase1 }} weeks
    </p>
    <p>
      Phase 2: {{ group.daysPhase2 }} days for {{ group.weeksPhase2 }} weeks
    </p>
    <p>
      Phase 3: {{ group.daysPhase3 }} days for {{ group.weeksPhase3 }} weeks
    </p>
    <h4>Teachers:</h4>
    <div *ngFor="let teacher of group.teachers">
      <p>- {{ teacher }}</p>
    </div>
  </div>
</div>
<button
  (click)="showModal()"
>
  Add Group
</button>

<app-modal id="add-group" class="hhidden">
  <app-add-group [fields]="fields"></app-add-group>
  <button (click)="closeModal()">Close</button>
</app-modal>
