<h1>{{ teacher.name }}</h1>
<form [formGroup]="setAvailability" (ngSubmit)="onSubmit()">
  <label for="monday" i18n>Monday: </label>
  <input id="monday" type="checkbox" formControlName="monday" /><br />
  <label for="tuesday" i18n>Tuesday: </label>
  <input id="tuesday" type="checkbox" formControlName="tuesday" /><br />
  <label for="wednesday" i18n>Wednesday: </label>
  <input id="wednesday" type="checkbox" formControlName="wednesday" /><br />
  <label for="thursday" i18n>Thursday: </label>
  <input id="thursday" type="checkbox" formControlName="thursday" /><br />
  <label for="friday" i18n>Friday: </label>
  <input id="friday" type="checkbox" formControlName="friday" /><br />
  <label for="max-days" i18n>Max days per week: </label>
  <input
    id="max-days"
    type="number"
    formControlName="maxDaysPerWeek"
    required
  /><br />
  <button
    type="submit"
    [disabled]="!setAvailability.valid"
    class="button-action"
    i18n
  >
    Submit
  </button>
</form>
