<div class="non-printable">
  <nav class="sticky top-0 w-full z-10 px-4 bg-nav text-white">
    <div class="width-medium mx-auto h-12 flex items-center gap-4">
      <b>ROOSTER</b>
      <img src="rooster.svg" height="50px" width="50px" />
      <a
        class="nav-button"
        [routerLink]="['/', rootUrl]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >View schedule</a
      >

      <a
        *ngIf="isLoggedIn"
        class="nav-button"
        [routerLink]="['/', rootUrl, 'groups']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >View Groups</a
      >
      <a
        *ngIf="isLoggedIn"
        class="nav-button"
        [routerLink]="['/', rootUrl, 'teachers']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >View Teachers</a
      >
      <a
        *ngIf="isLoggedIn"
        class="nav-button"
        [routerLink]="['/', rootUrl, 'archive']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Archive</a
      >
      <a
        class="nav-button"
        [routerLink]="['/', rootUrl, 'free-days']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >View Free Days</a
      >
      <ng-container *ngIf="isLoggedIn; else showLogout">
        <button class="nav-button" (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #showLogout>
        <button class="nav-button" (click)="showModal('login')">Login</button>
      </ng-template>
    </div>
  </nav>
  <app-modal id="login" class="hhidden">
    <app-login></app-login>
    <button (click)="closeModal('login')">Close</button>
  </app-modal>
  <router-outlet />
</div>

<app-modal id="feedback-main" class="hhidden feedback">
  <p id="feedback-message">{{ feedbackMsg }}</p>
  <button class="button-action" (click)="logout()">Log Out</button>
</app-modal>
