<h1>Add Teacher</h1>
<form [formGroup]="addTeacher" (ngSubmit)="onSubmit()">
  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name" required /><br />
  <label for="monday">Monday: </label>
  <input id="monday" type="checkbox" formControlName="monday" /><br />
  <label for="tuesday">Tuesday: </label>
  <input id="tuesday" type="checkbox" formControlName="tuesday" /><br />
  <label for="wednesday">Wednesday: </label>
  <input id="wednesday" type="checkbox" formControlName="wednesday" /><br />
  <label for="thursday">Thursday: </label>
  <input id="thursday" type="checkbox" formControlName="thursday" /><br />
  <label for="friday">Friday: </label>
  <input id="friday" type="checkbox" formControlName="friday" /><br />
  <label for="max-days">Max days per week: </label>
  <input
    id="max-days"
    type="number"
    formControlName="maxDaysPerWeek"
    required
  /><br />
  <button type="submit" [disabled]="!addTeacher.valid">Submit</button>
</form>

<app-modal id="feedback" class="hhidden">
  <p>{{ this.feedbackMsg }}</p>
  <button
    class="button-action"
    (click)="
      this.feedbackMsg.startsWith('Error: ')
        ? closeModal('feedback')
        : window.location.reload()
    "
  >
    Close
  </button>
</app-modal>
