<h1 i18n>Group {{ scheduledday.groupNumber }} {{ scheduledday.field }}</h1>
<form [formGroup]="override" (ngSubmit)="onSubmit()">
  <label for="date" i18n>Date: </label>
  <input id="date" type="date" formControlName="date" required /><br />
  <label for="classroom" i18n>Classroom: </label>
  <input
    id="classroom"
    type="number"
    formControlName="classroomId"
    required
  /><br />
  <label for="adapt-weekly" i18n>Adapt Weekly: </label>
  <input
    id="adapt-weekly"
    type="checkbox"
    formControlName="adaptWeekly"
  /><br />
  <button type="submit" class="button-action" i18n>Submit</button>
</form>
<app-modal id="feedback-override" class="hhidden">
  <div [innerHTML]="feedbackMsg"></div>
  <button
    (click)="
      this.feedbackMsg.startsWith('Error: ')
        ? closeModal('feedback-override')
        : window.location.reload()
    "
    class="button-action"
    i18n
  >
    Close
  </button>
</app-modal>
