<div class="mx-2">Currently viewing: {{ getMonthName(month) }} {{ year }}</div>
<button (click)="decrementMonth()" class="mx-2 rounded-md border-2 bg-gray-300 hover:bg-gray-400">Previous Month</button>
<button (click)="incrementMonth()" class="mx-2 rounded-md border-2 bg-gray-300 hover:bg-gray-400">Next Month</button>
<table class="w-full">
  <tr>
    <th>Date</th>
    <th *ngFor="let number of TOTAL_CLASSROOMS">Classroom {{ number }}</th>
  </tr>
  <tr class="text-center border-2" *ngFor="let day of days">
    <td [ngClass]="isWeekend(day) ? 'bg-[#808080]':  'bg-[#28A8EA]'" style="width: 5%;">{{ day }}/{{ month }}/{{ year }}</td>
    <td *ngFor="let number of TOTAL_CLASSROOMS">
      <div *ngFor="let item of data">
        <app-scheduled-day [item]="item" [day]="day" [classroom]="number" />
      </div>
    </td>
  </tr>
</table>
