<div class="mx-2">Currently viewing: {{ getMonthName(month) }} {{ year }}</div>
<button (click)="decrementMonth()">Previous Month</button>
<button (click)="incrementMonth()">Next Month</button>
<table class="w-full">
  <tr>
    <th>Date</th>
    <th *ngFor="let number of TOTAL_CLASSROOMS">Classroom {{ number }}</th>
  </tr>
  <tr class="text-center border-2" *ngFor="let day of days">
    <td [ngClass]="day.isFreeDay ? 'bg-[#ffff00]':  (day.isWeekend ? 'bg-[#b5e6a2]': 'bg-[#28A8EA]')" style="width: 5%;">{{ day.id }}/{{ month }}/{{ year }}</td>
    <td *ngFor="let number of TOTAL_CLASSROOMS" [ngClass]="day.isFreeDay ? 'bg-[#ffff00]':  (day.isWeekend ? 'bg-[#b5e6a2]': 'bg-white')">
      <div *ngFor="let item of data">
        <app-scheduled-day [item]="item" [day]="day.id" [classroom]="number" />
      </div>
    </td>
  </tr>
</table>
