@media print {
  #schedule {
    visibility: visible;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
  }
}
/* Define background colors for weekends, free days, and regular days */
.bg-yellow { 
  background-color: #ffff00; /* Free Day */
}

.bg-light-green { 
  background-color: #b5e6a2; /* Weekend */
}

.bg-blue { 
  background-color: #28A8EA; /* Regular Day */
}

.bg-white { 
  background-color: white; /* Default for classrooms */
}

.bg-light-blue {
  background-color: #AAE2FF
}

.custom-drag-image {
  position: absolute;
  text-align: center;
  top: -9999px; 
}