<h1 i18n>Login</h1>
<form [formGroup]="login" (ngSubmit)="onSubmit()">
  <label for="username" i18n>Username: </label>
  <input id="username" type="text" formControlName="username" required /><br />
  <label for="password" i18n>Password: </label>
  <input
    id="password"
    type="password"
    formControlName="password"
    required
  /><br />
  <button type="submit" [disabled]="!login.valid" i18n>Submit</button>
</form>

<app-modal id="feedback-login" class="hhidden feedback">
  <p>{{ this.feedbackMsg }}</p>
  <button
    class="button-action"
    (click)="
      this.feedbackMsg.startsWith('Error: ')
        ? closeModal('feedback')
        : window.location.reload()
    "
    i18n
  >
    Close
  </button>
</app-modal>
