<h1>Add Group</h1>
<form [formGroup]="addGroup" (ngSubmit)="onSubmit()">
  <label for="group-number">Group number: </label>
  <input
    id="group-number"
    type="number"
    formControlName="groupNumber"
    required
  /><br />
  <label for="color">Color: </label>
  <input id="color" type="color" formControlName="color" required /><br />
  <label for="number-of-students">Number of students: </label>
  <input
    id="number-of-students"
    type="number"
    formControlName="numberOfStudents"
    required
  /><br />
  <label for="field">Field: </label>
  <select id="field" formControlName="field" required>
    <option [ngValue]="null" disabled>Select Field</option>
    <option *ngFor="let field of fields" [ngValue]="field.id">
      {{ field.name }}
    </option></select
  ><br />
  <label for="teachers">Teachers: </label>
  <select multiple id="teachers">
    <option [ngValue]="null" disabled>Select Teachers</option>
    <option
      *ngFor="let teacher of teachers"
      [ngValue]="teacherAssignments"
      (dblclick)="showModal('set-teacher-' + teacher.name)"
    >
      {{ teacher.name }}
    </option></select
  ><br />
  <table>
    <tr>
      <th>Teacher</th>
      <th>Days Phase 1</th>
      <th>Days Phase 2</th>
      <th>Days Phase 3</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let teacherAssignment of teacherAssignments">
      <td>{{ teacherAssignment.name }}</td>
      <td>{{ teacherAssignment.daysPhase1 }}</td>
      <td>{{ teacherAssignment.daysPhase2 }}</td>
      <td>{{ teacherAssignment.daysPhase3 }}</td>
      <td>
        <button
          type="button"
          (click)="showModal('set-teacher-' + teacherAssignment.name)"
        >
          Edit
        </button>
      </td>
      <td>
        <button type="button" (click)="removeAssignment(teacherAssignment)">
          Delete
        </button>
      </td>
    </tr>
  </table>
  <label for="start-date">Start Date: </label>
  <input
    id="start-date"
    type="date"
    formControlName="startDate"
    required
  /><br />
  <label for="weeks-phase-1">Weeks Phase 1: </label>
  <input
    id="weeks-phase-1"
    type="number"
    formControlName="weeksPhase1"
    required
  /><br />
  <label for="weeks-phase-2">Weeks Phase 2: </label>
  <input
    id="weeks-phase-2"
    type="number"
    formControlName="weeksPhase2"
    required
  /><br />
  <label for="weeks-phase-3">Weeks Phase 2: </label>
  <input
    id="weeks-phase-3"
    type="number"
    formControlName="weeksPhase3"
    required
  /><br />
  <button
    [ngClass]="addGroup.valid ? 'button-action' : 'button-incomplete'"
    type="submit"
    [disabled]="!addGroup.valid"
  >
    Submit
  </button>
</form>

<div *ngFor="let teacher of teachers">
  <app-modal id="set-teacher-{{ teacher.name }}" class="hhidden">
    <app-set-teacher
      [teacher]="teacher"
      (messageEvent)="receiveMessage($event)"
    ></app-set-teacher>
    <button
      (click)="closeModal('set-teacher-' + teacher.name)"
      class="button-action"
    >
      Close
    </button>
  </app-modal>
</div>

<app-modal id="feedback" class="hhidden">
  <p>{{ this.feedbackMsg }}</p>
  <button
    class="button-action"
    (click)="
      this.feedbackMsg.startsWith('Error: ')
        ? closeModal('feedback')
        : window.location.reload()
    "
  >
    Close
  </button>
</app-modal>
