<h1>Edit Group {{ group.groupNumber }}</h1>
<form [formGroup]="editGroup" (ngSubmit)="onSubmit()">
  <label for="color">Color: </label>
  <input id="color" type="color" formControlName="color" required /><br />
  <label for="number-of-students">Number of students: </label>
  <input
    id="number-of-students"
    type="number"
    formControlName="numberOfStudents"
    required
  /><br />
  <label for="field">Field: </label>
  <input id="field" type="text" formControlName="field" /><br />
  <label for="start-date">Start Date: </label>
  <input
    id="start-date"
    type="date"
    formControlName="startDate"
    required
  /><br /><br />

  <h1>Phase 1:</h1>
  <label for="days-phase-1">Days per week: </label>
  <input
    id="days-phase-1"
    type="number"
    formControlName="daysPhase1"
    required
  /><br />
  <label for="weeks-phase-1">Amount of weeks: </label>
  <input
    id="weeks-phase-1"
    type="number"
    formControlName="weeksPhase1"
    required
  /><br /><br />

  <h1>Phase 2:</h1>
  <label for="days-phase-2">Days per week: </label>
  <input
    id="days-phase-2"
    type="number"
    formControlName="daysPhase2"
    required
  /><br />
  <label for="weeks-phase-2">Amount of weeks: </label>
  <input
    id="weeks-phase-2"
    type="number"
    formControlName="weeksPhase2"
    required
  /><br /><br />

  <h1>Phase 3:</h1>
  <label for="days-phase-3">Days per week: </label>
  <input
    id="days-phase-3"
    type="number"
    formControlName="daysPhase3"
    required
  /><br />
  <label for="weeks-phase-3">Amount of weeks: </label>
  <input
    id="weeks-phase-3"
    type="number"
    formControlName="weeksPhase3"
    required
  /><br /><br />

  <button
    [ngClass]="editGroup.valid ? 'button-action' : 'button-incomplete'"
    type="submit"
    [disabled]="!editGroup.valid"
  >
    Submit
  </button>
</form>

<app-modal id="feedback-edit-group-{{ group.groupNumber }}" class="hhidden">
  <p>{{ this.feedbackMsg }}</p>
  <button
    class="button-action"
    (click)="
      this.feedbackMsg.startsWith('Error: ')
        ? closeModal('feedback-edit-group-' + group.groupNumber)
        : window.location.reload()
    "
  >
    Close
  </button>
</app-modal>
