<h1>{{ teacher.name }}</h1>
<form [formGroup]="addGroup" (ngSubmit)="onSubmit()">
  <label for="set-group" i18n>Group: </label>
  <select id="set-group" formControlName="setGroup" required>
    <option [ngValue]="null" disabled>Select Group</option>
    <option *ngFor="let group of groups" [ngValue]="group.groupNumber" i18n>
      Group {{ group.groupNumber }} {{ group.field }}
    </option></select

  ><br />
  <label for="days-phase-1" i18n>Days Phase 1: </label>
  <input
    id="days-phase-1"
    type="number"
    formControlName="daysPhase1"
    required
  /><br />
  <label for="days-phase-2" i18n>Days Phase 2: </label>
  <input
    id="days-phase-2"
    type="number"
    formControlName="daysPhase2"
    required
  /><br />
  <label for="days-phase-3" i18n>Days Phase 3: </label>
  <input
    id="days-phase-3"
    type="number"
    formControlName="daysPhase3"
    required
  /><br />

  <button
    [ngClass]="addGroup.valid ? 'button-action' : 'button-incomplete'"
    type="submit"
    [disabled]="!addGroup.valid"
    i18n
  >
    Submit
  </button>
</form>

<app-modal id="feedback-set-group-{{ teacher.name }}" class="hhidden">
  <p>{{ this.feedbackMsg }}</p>
  <button
    class="button-action"
    (click)="
      this.feedbackMsg.startsWith('Error: ')
        ? closeModal('feedback-set-group-' + teacher.name)
        : window.location.reload()
    "
    i18n
  >
    Close
  </button>
</app-modal>
