/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  print-color-adjust: exact;
}

@media print {
  .non-printable {
    visibility: hidden;
  }
}

.button-action {
  margin: 1px;
  border-radius: 0.375rem;
  border-width: 2px;
  color: black;
  background-color: #d1d5db;
}

.button-action:hover {
  background-color: #9ca3af;
}

.button-incomplete {
  border-radius: 0.375rem;
  border-width: 2px;
  background-color: #9ca3af;
  cursor: not-allowed;
}

input {
  border-width: 1px;
  border-color: black;
}

/** this makes the .modal visible */
.sshow {
  display: block;
}
/** this makes the element hidden/invisible */
.hhidden {
  display: none;
}
